<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         failOnWarning="true"
         failOnRisky="true"
         cacheDirectory="../.phpunit.cache">
    <testsuites>
        <testsuite name="ileva-sdk-api-v3-auth">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
    <php>
        <!-- Redis usado pelos testes do RedisTokenStore; sem conexão, esses testes são pulados. -->
        <env name="ILEVA_TEST_REDIS_HOST" value="127.0.0.1"/>
        <env name="ILEVA_TEST_REDIS_PORT" value="6379"/>
    </php>
</phpunit>
